//Fonts
$font-main: 'Roboto', sans-serif;
$font-accent: 'Open Sans', sans-serif;
$font-logo: 'Noto Sans JP', sans-serif;
$font_bud: 'Roboto Condensed', sans-serif;

//colors
$white: #FFFFFF;
$black: #151515;
$blue: #043357;
$orange: #FF8A00E5;
$green: #03564E;